/* hearder */
.header{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left{
    display: flex;
    justify-content: space-evenly;
}

.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__left > img{
    // width: 40px;
    height: 40px;
}

.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__center{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root{
    font-size: xx-large;
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}

.header__option--active{
    border-bottom: 4px solid #2e81f4;
}

.header__option{
    display: flex;
    align-items: center;
    padding: 0 38px;
    cursor: pointer;
}

.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info{
    display: flex;
    align-items: center;
    color:rgb(111, 110, 110);
   
}

.header__info--option {
    margin-right: 10px;
}

.header__info > h4{
    margin-left: 15px;
}

.header__info--option:hover{
    background-color: #f1f2f5;
    border-radius: 10px;
}

.header__right{
    display: flex;
}


/* sidebar */
.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}


.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarrow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarrow > h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarrow > .MuiSvgIcon-root{
    font-size: xx-large;
    color: #2e81f4;
}


/* story*/
.story{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover{
    transform: scale(1.07);
}

.story__avatar{
    margin: 10px;
    border: 5px solid #2e81f4;

}

.story > h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #eff2f5;
}

.storyreel{
    display: flex;
}

/* App */
.app{
    background-color: #f1f2f5;
    min-height: 100vh;
}

.app__body{
    display: flex;
}

/* Feed */
.feed{
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

/* MessageSender */
.messagesender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messagesender__top{
    display: flex;
    border-bottom: 1px sold #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}

.messagesender__top > form{
    flex: 1;
    display: flex;
}

.messagesender__top > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messagesender__top > form > button{
    display: none;
}

.messagesender__input{
    flex: 1;
}



.messagesender__buttom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.messagesender__option{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messagesender__option > h3{
    font-size: medium;
    margin-left: 10px;
}


.messagesender__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

/* POST */
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar{
    margin-right: 10px;
}

.post__topinfo > h3{
    font-size: medium;
}

.post__topinfo > p {
    font-size: small;
    color: gray;
}

.post__image{
    display: flex;
    justify-content: center;

}

.post__image > img {
    max-width: 571px;
    max-height: 400px;
    padding-bottom: 10px;
}

.post__buttom{
    padding-left: 3rem ;
    font-size: large;
    font-weight: 400;
    color: rgb(111, 110, 110);
    margin-top: 10px;
    margin-bottom: 10px;
}

.post__options{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.post__option{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: gray;
    margin: 5px;
}

.post__option > p{
    margin-right: 20px;
    font-size: medium;
    font-weight: 400;
    color: rgb(111, 110, 110);
}

.post__option > .MuiSvgIcon-root{
    font-size: x-large;
    margin-right: 10px;
    color: rgb(111, 110, 110);
}

.post__option:hover{
    background-color: #eff2f5;
    border-radius: 5px;
}



/* Friend List */

.friendslist{
    padding: 25px 10px;
    flex: 0.33;
}


.friendrow:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.friendrow > h4{
    margin-left: 20px;
    font-weight: 600;
}

.friendrow > .MuiSvgIcon-root{
    // font-size: xx-large;
    // color: #2e81f4;
}

.ads{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    width: 300px;
}

.ads > h3{
    padding-left: 5px;
    color: gray;
}

.ad{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.ad:hover{
    background-color: lightgray;
    border-radius: 10px;
}


.ad__img > img{
    width: 99.2px;
    height: 99.2px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
}

.ad__info{
    color: rgb(111, 110, 110);
    margin-right: 30px;
}


.ad__info > h3{
    font-size: small;
    font-weight: 600;
}

