:root {
  --color-backgroud: #fff;

  --color-body: #1c1e21;
  --color-body-darker: #606770;

  --color-primary: #1877f2;
  --color-secondary: #42b72a;
  --color-gray: #b0b1b1;

  --color-border: #ccc;
  --border-radius: 30px;

  --color-headings: #1b0760;   
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
  // min-width: 750px;
}



img {
  width: 100%;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.34;
  color: var(--color-body);
  
}


h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 900px) {
  /* body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  } */
}



/* Blocks */
.block {
  --padding-vertical: 1rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.block__heading {
  margin-top: 0;
}

.block__heading {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-primary);
}

@media screen and (min-width: 900px) {
  .block__heading {
    text-align: left;
  }
  .block > h2 {
    text-align: left;
  }
}


/* flex */

.login{
  text-align: center;
  width: 400px;
}

.login__form{
  border: 1.5px solid white;
  background-color: white;
  box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
  border-radius: 10px;
  padding: 2px;
  top: 45px;
  /* flex-grow: 1;  */
}

.login__form .form__input{
    border: 1.5px solid var(--color-border);
    font-size: 20px;
    padding: 10px;
    width: 90%;
    margin: 5px;
    margin-left: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

.login__form > p{
  margin-bottom: 10px;
}

.login__form > div{
  margin-bottom: 10px;
}

.loginError{
  color: red;
}

@media screen and (min-width: 900px) {
  .login {
    width: 70%;
  }
  .login__form{
    width: 80%;
  }
  .form__input{
    display: block;
   margin-top: 20px;
  }
}



/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* Buttons */
.btn {
  color: #fff;;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  line-height: 48px; 
  font-weight: bold;
  cursor: pointer;
  width: 95%;
  // margin: 1rem 2rem;

}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}


.btn--primary {
  background-color: var(--color-primary);

}

.btn--gray {
  background-color: var(--color-gray);

}


.btn--create {
  background-color: var(--color-secondary);
  width: 60%;
  white-space: nowrap;
  padding: 0 16px;
 
}

@media screen and (min-width: 900px) {
  .btn--create  {
    font-size: 1.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
  cursor: pointer;
}

.link-demo {
  color: var(--color-primary);
  font-size: 1.5rem;
}

/* Navigation Bar */
.nav {
  background: var(--color-backgroud);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0 0 5px rgb(207, 207, 207);
}


.nav__left{
  display: flex;

}

.nav__middle{
 display: flex;
}

.nav__right{
  display: flex;
}

.nav__logo{
  width: 40px;
  height: 40px;


  
.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: rgb(138, 136, 136);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;    
  }

  .list > li{
    margin-left: 40px;
  }
}



.login__page{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}